<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.skimmdit.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.skimmdit.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.skimmdit.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitLink</servlet-name>
    <servlet-class>com.skimmdit.servlets.SubmitLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitLink</servlet-name>
    <url-pattern>/SubmitLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkLike</servlet-name>
    <servlet-class>com.skimmdit.servlets.LikeLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkLike</servlet-name>
    <url-pattern>/LikeLink</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DisLikeLink</servlet-name>
    <servlet-class>com.skimmdit.servlets.DisLikeLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisLikeLink</servlet-name>
    <url-pattern>/DisLikeLink</url-pattern>
  </servlet-mapping>
  
</web-app>